= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = string_field :domain

    = array_string_field :nameservers
    %span.help-block
      = t('.ip_list_hint')

    = array_string_field :forwarders
    %span.help-block
      = t('.ip_list_hint')

    = array_string_field :allow_transfer
    %span.help-block
      = t('.ip_list_hint')
